/* cuando se aprieta el boton ver reglas */

.listaReglas{
    height: 60%;
    width: 75vw;
    text-align: left;
    align-items: center;
}

.listaReglas .item{
    color:#0A3871;
    height: 20%;
}

.botonVolver{
    padding: .8rem;
    background-color: #e5e5e5 ;
    color:#0A3871;
    border: none;
}

@media screen and (min-width: 768px) {
    .listaReglas{
        width: auto;
        height: 50%;
    }

    .listaReglas .item{
        height: auto;
        padding: .8rem;
    }
}