.zonaBotones{
    height: 50%;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.seguirJuego, .cancelarJuego{
    width: 70vw;
    height: 18%;
    font-size: .9rem;
    padding: 1rem;
}

@media screen and (min-width: 768px){
    .zonaBotones{
        flex-direction: row;
    }
}