*{
    margin: 0;
    padding: 0;
    background: #e5e5e5;
    font-family: 'Inter', sans-serif;
}

.cuerpo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.invisible{
    display: none;
    height: 0%;
}